In [1]:
import pandas as pd

In [2]:
# Create paths
google_path = '../Resources/Global_Mobility_Report.csv'
apple_path = '../Resources/applemobilitytrends-2020-04-13.csv'

In [3]:
# Create DFs
google_df = pd.DataFrame(pd.read_csv(google_path))
apple_df = pd.DataFrame(pd.read_csv(apple_path))

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
apple_df

,geo_type,region,transportation_type,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,...,2020-04-04,2020-04-05,2020-04-06,2020-04-07,2020-04-08,2020-04-09,2020-04-10,2020-04-11,2020-04-12,2020-04-13
0,country/region,Albania,driving,100,95.30,101.43,97.20,103.55,112.67,104.83,...,20.54,22.54,26.40,26.03,26.43,26.70,26.32,25.47,24.89,32.64
1,country/region,Albania,walking,100,100.68,98.93,98.46,100.85,100.13,82.13,...,24.90,23.92,31.13,25.80,29.81,28.96,27.29,27.63,29.59,35.52
2,country/region,Argentina,driving,100,97.07,102.45,111.21,118.45,124.01,95.44,...,15.13,11.53,17.24,18.55,19.95,19.80,16.80,19.40,12.89,21.10
3,country/region,Argentina,walking,100,95.11,101.37,112.67,116.72,114.14,84.54,...,10.97,9.12,11.85,13.49,15.51,14.65,13.58,15.75,10.45,16.35
4,country/region,Australia,driving,100,102.98,104.21,108.63,109.08,89.00,99.35,...,33.34,51.75,53.17,55.01,59.24,33.19,36.00,26.95,31.72,53.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,city,Washington DC,transit,100,100.78,103.92,105.02,112.26,96.01,87.76,...,16.45,15.54,18.87,17.59,18.79,16.92,17.76,16.99,14.23,17.01
391,city,Washington DC,walking,100,99.07,109.61,104.16,123.16,119.71,106.28,...,40.64,40.96,40.76,35.97,43.18,36.12,37.50,44.63,32.84,33.58
392,city,Zurich,driving,100,102.38,110.84,105.48,113.83,109.67,102.03,...,58.86,60.78,65.57,69.43,71.98,69.31,61.38,63.78,54.97,67.09
393,city,Zurich,transit,100,101.51,108.93,97.87,103.91,98.50,93.83,...,27.54,28.69,29.56,31.39,32.01,31.32,31.35,29.18,31.49,32.90
394,city,Zurich,walking,100,106.27,116.73,115.31,118.22,123.39,82.43,...,64.49,67.27,62.35,67.26,70.26,69.66,70.73,71.63,65.61,70.17

In [11]:
# apple_df = apple_df.loc[apple_df['geo_type']=='country/region'].copy()
# apple_df = apple_df.groupby('region').mean().copy()
# apple_df = apple_df.drop('geo_type').copy()
apple_df.head()

,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,2020-01-21,2020-01-22,...,2020-04-04,2020-04-05,2020-04-06,2020-04-07,2020-04-08,2020-04-09,2020-04-10,2020-04-11,2020-04-12,2020-04-13
region,,,,,,,,,,,,,,,,,,,,,
Albania,100,97.990000,100.180000,97.830000,102.200000,106.400000,93.480000,95.020000,95.925000,94.450000,...,22.720000,23.230,28.765000,25.915000,28.120000,27.830000,26.805000,26.550000,27.240000,34.080000
Argentina,100,96.090000,101.910000,111.940000,117.585000,119.075000,89.990000,98.250000,100.770000,101.285000,...,13.050000,10.325,14.545000,16.020000,17.730000,17.225000,15.190000,17.575000,11.670000,18.725000
Australia,100,102.023333,102.223333,104.243333,107.050000,92.070000,99.263333,105.066667,108.146667,106.103333,...,27.023333,38.510,39.026667,39.596667,42.576667,27.960000,29.590000,24.073333,28.426667,40.183333
Austria,100,101.345000,104.915000,112.225000,120.295000,124.135000,97.550000,100.650000,102.985000,104.805000,...,32.320000,39.355,40.470000,43.215000,44.280000,45.250000,42.785000,37.790000,37.270000,38.125000
Belgium,100,100.440000,107.646667,110.800000,123.343333,135.013333,104.976667,104.790000,110.530000,114.663333,...,41.396667,45.140,40.213333,45.513333,47.256667,47.573333,50.393333,53.890000,45.793333,37.536667

In [12]:
# Drops where 'sub_region_1' does NOT equal 'NaN'
google_nan = google_df.dropna(subset=['sub_region_1'])
google_df = google_df.drop(google_nan.index).copy()
google_df

,country_region_code,country_region,sub_region_1,sub_region_2,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
224142,ZW,Zimbabwe,NaN,NaN,2020-04-07,-64.0,-52.0,-49.0,-78.0,-67.0,42.0
224143,ZW,Zimbabwe,NaN,NaN,2020-04-08,-62.0,-51.0,-51.0,-78.0,-66.0,41.0
224144,ZW,Zimbabwe,NaN,NaN,2020-04-09,-60.0,-47.0,-47.0,-77.0,-66.0,41.0
224145,ZW,Zimbabwe,NaN,NaN,2020-04-10,-70.0,-57.0,-53.0,-82.0,-78.0,48.0
224146,ZW,Zimbabwe,NaN,NaN,2020-04-11,-69.0,-56.0,-48.0,-81.0,-58.0,36.0

In [13]:
google_df['avg_all_change'] = ((google_df['retail_and_recreation_percent_change_from_baseline'] + 
google_df['grocery_and_pharmacy_percent_change_from_baseline'] + 
google_df['parks_percent_change_from_baseline'] +
google_df['transit_stations_percent_change_from_baseline'] +
google_df['workplaces_percent_change_from_baseline'] +
google_df['residential_percent_change_from_baseline'])/6)
google_df.head()

,country_region_code,country_region,sub_region_1,sub_region_2,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline,avg_all_change
0,AE,United Arab Emirates,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0,2.000000
1,AE,United Arab Emirates,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0,2.166667
2,AE,United Arab Emirates,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0,1.500000
3,AE,United Arab Emirates,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0,1.166667
4,AE,United Arab Emirates,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0,0.666667

In [15]:
google_avg_df = google_df.drop(columns=['retail_and_recreation_percent_change_from_baseline',
                                        'grocery_and_pharmacy_percent_change_from_baseline',
                                        'parks_percent_change_from_baseline',
                                        'transit_stations_percent_change_from_baseline',
                                        'workplaces_percent_change_from_baseline',
                                        'residential_percent_change_from_baseline',
                                        'country_region_code',
                                        'sub_region_1',
                                        'sub_region_2'])
google_avg_df

              country_region        date  avg_all_change
0       United Arab Emirates  2020-02-15        2.000000
1       United Arab Emirates  2020-02-16        2.166667
2       United Arab Emirates  2020-02-17        1.500000
3       United Arab Emirates  2020-02-18        1.166667
4       United Arab Emirates  2020-02-19        0.666667
...                      ...         ...             ...
224142              Zimbabwe  2020-04-07      -44.666667
224143              Zimbabwe  2020-04-08      -44.500000
224144              Zimbabwe  2020-04-09      -42.666667
224145              Zimbabwe  2020-04-10      -48.666667
224146              Zimbabwe  2020-04-11      -46.000000

[7467 rows x 3 columns]

In [ ]:
# google_df = google_df.groupby('country_region', 'date').mean()